<div id="sidebar">
    <header>
        <a href="/admin/">Laptop Shop</a>
    </header>
    <ul class="nav">
        <li>
            <a href="/category/add">
                 Add Category
            </a>
        </li>
        <li>
            <a href="/category/list">
                 Category List
            </a>
        </li>
        <li>
            <a href="/product/add">
                 Add Product
            </a>
        </li>
        <li>
            <a href="/product/list">
                Product List
            </a>
        </li>
    </ul>
</div>