<div id="sidebar">
    <header>
        <a href="/">Laptop Shop</a>
    </header>
    <ul class="nav">
        <li>
            <a href="/admin/">
                Admin
            </a>
        </li>
        
        <li>
            <a href="/user/">
                User
            </a>
        </li>
    </ul>
</div>